
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} 
button:hover {
    background-color: rgb(0, 128, 0);
color: white;
    font-family: Arial, Helvetica, sans-serif;
} 
p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}
.container{
    text-align: center;
    display: block;
   
}
h1{
    font-size:80px;
    color:  #000000;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}